html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.notification__container {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    font-size: 16px;
}

.noti__success {
    background-color: #22BB33;
}

.noti__danger {
    background-color: #BB2124;
}

.noti__warning {
    background-color: #F0AD4E;
}

.noti__info {
    background-color: #5BC0DE;
}

.noti__system {
    background-color: #AAAAAA;
}

.noti__default {
    background-color: #333;
}

.noti__black {
    background-color: black;
}

.notification__container.showUpLeft {
    left: 0px;
    top: 30px;
    margin-left: 30px;
    visibility: visible;
    animation: fadeinUpLeft 0.5s, fadeoutUpLeft 0.5s 29.5s; 
}

.notification__container.showUp {
    left: 50%;
    top: 30px;
    margin-left: -125px;
    visibility: visible;
    animation: fadeinUp 0.5s, fadeoutUp 0.5s 2.5s; 
}

.notification__container.showUpRight {
    right: 0px;
    top: 30px;
    margin-right: 30px;
    visibility: visible;
    animation: fadeinUpRight 0.5s, fadeoutUpRight 0.5s 2.5s; 
}

.notification__container.showRight {
    right: 0px;
    top: 50%;
    margin-right: 30px;
    visibility: visible;
    animation: fadeinRight 0.5s, fadeoutRight 0.5s 2.5s; 
}

.notification__container.showDownRight {
    right: 0px;
    bottom: 30px;
    margin-right: 30px;
    visibility: visible;
    animation: fadeinDownRight 0.5s, fadeoutDownRight 0.5s 2.5s;
}

.notification__container.showDown {
    left: 50%;
    bottom: 30px;
    margin-left: -125px;
    visibility: visible;
    animation: fadeinDown 0.5s, fadeoutDown 0.5s 2.5s;
}

.notification__container.showDownLeft {
    left: 0px;
    bottom: 30px;
    margin-left: 30px;
    visibility: visible;
    animation: fadeinDownLeft 0.5s, fadeoutDownLeft 0.5s 2.5s; 
}

.notification__container.showLeft {
    left: 0px;
    top: 50%;
    margin-left: 30px;
    visibility: visible;
    animation: fadeinLeft 0.5s, fadeoutLeft 0.5s 2.5s; 
}

.notification__container.showCenter {
    left: 50%;
    top: 50%;
    margin-left: -125px;
    visibility: visible;
    animation: fadeinCenter 0.5s, fadeoutCenter 0.5s 2.5s;
}

@keyframes fadeinUpLeft {
    from { left: -30px; opacity: 0;}
    to { left: 0; opacity: 1;}
}

@keyframes fadeoutUpLeft {
    from { left: 0; opacity: 1;}
    to { left: -30px; opacity: 0;}
}

@keyframes fadeinUp {
    from { top: 0; opacity: 0;}
    to { top: 30px; opacity: 1;}
}

@keyframes fadeoutUp {
    from { top: 30px; opacity: 1;}
    to { top: 0; opacity: 0;}
}

@keyframes fadeinUpRight {
    from { right: -30px; opacity: 0;}
    to { right: 0; opacity: 1;}
}

@keyframes fadeoutUpRight {
    from { right: 0; opacity: 1;}
    to { right: -30px; opacity: 0;}
}

@keyframes fadeinRight {
    from { right: -30px; opacity: 0;}
    to { right: 0; opacity: 1;}
}

@keyframes fadeoutRight {
    from { right: 0; opacity: 1;}
    to { right: -30px; opacity: 0;}
}

@keyframes fadeinDownRight {
    from { right: -30px; opacity: 0;}
    to { right: 0; opacity: 1;}
}

@keyframes fadeoutDownRight {
    from { right: 0; opacity: 1;}
    to { right: -30px; opacity: 0;}
}

@keyframes fadeinDown {
    from { bottom: 0; opacity: 0;}
    to { bottom: 30px; opacity: 1;}
}

@keyframes fadeoutDown {
    from { bottom: 30px; opacity: 1;}
    to { bottom: 0; opacity: 0;}
}

@keyframes fadeinDownLeft {
    from { left: -30px; opacity: 0;}
    to { left: 0; opacity: 1;}
}

@keyframes fadeoutDownLeft {
    from { left: 0; opacity: 1;}
    to { left: -30px; opacity: 0;}
}

@keyframes fadeinLeft {
    from { left: -30px; opacity: 0;}
    to { left: 0; opacity: 1;}
}

@keyframes fadeoutLeft {
    from { left: 0; opacity: 1;}
    to { left: -30px; opacity: 0;}
}

@keyframes fadeinCenter {
    from { width: 0px; opacity: 0;}
    to { width: 250px; opacity: 1;}
}

@keyframes fadeoutCenter {
    from { width: 250px; opacity: 1;}
    to { width: 0px; opacity: 0;}
}
